<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/bootstrap/css/datepicker3.css" rel="stylesheet">
<link href="/static/bootstrap/css/styles.css" rel="stylesheet">

<!--下面加载的是nav模板使用的css-->
<link href="/static/css/jquery-accordion-menu.css" rel="stylesheet" type="text/css" />
<link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" />

<link href="/static/test/css/bootstrap.css" rel="stylesheet">
<!--external css-->
<link href="/static/test/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
<!-- Custom styles for this template -->
<link href="/static/test/css/style.css" rel="stylesheet">
<link href="/static/test/css/style-responsive.css" rel="stylesheet">
