<script src="/static/bootstrap/js/lumino.glyphs.js"></script>
<script src="/static/js/jquery-3.0.0.js"></script>
<!-- <script src="/static/bootstrap/js/chart.min.js"></script> -->
<!-- <script src="/static/bootstrap/js/chart-data.js"></script> -->
<!-- <script src="/static/bootstrap/js/easypiechart.js"></script> -->
<!-- <script src="/static/bootstrap/js/easypiechart-data.js"></script> -->
<!-- <script src="/static/bootstrap/js/bootstrap-datepicker.js"></script> -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/layer-v2.4/layer/layer.js"></script>
<script type="text/javascript" src="/static/js/prettify.min.js"></script>
<script type="text/javascript" src="/static/js/multiselect.min.js"></script>
<!-- <script>
	$('#calendar').datepicker({
	});

	!function ($) {
	    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
	        $(this).find('em:first').toggleClass("glyphicon-minus");      
	    }); 
	    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
	}(window.jQuery);

	$(window).on('resize', function () {
	  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
	})
	$(window).on('resize', function () {
	  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
	})
</script> -->

<!--下面加载nav专用的js-->
<!-- <script src="/static/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/static/js/jquery-accordion-menu.js" type="text/javascript"></script> -->


<!-- <script src="/static/test/js/jquery.js"></script> -->
<!-- <script src="/static/test/js/bootstrap.min.js"></script> -->
<script src="/static/test/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/test/js/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="/static/test/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/static/test/js/jquery.scrollTo.min.js"></script>
<script src="/static/test/js/jquery.nicescroll.js" type="text/javascript"></script>


<!--common script for all pages-->
<script src="/static/test/js/common-scripts.js"></script>
<!-- <script type="text/javascript">
$(function(){	
	//顶部导航切换
	$("#demo-list li").click(function(){
		$("#demo-list li.active").removeClass("active")
		$(this).addClass("active");
	})	
})	
</script> -->